html{
    font-size: 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color:lightyellow;
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

boarder{
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: -30rem;
    border-left: 15px;
    border-right: 15px;
}
hr{
    height: 1px;
    background-color:#9ACBFD;
}
